<table>
	<thead>
		<tr>
			<th style="text-decoration:underline"> Tree Species </th>
			<th> Name </th>
			<th> Seed </th>
			<th> Skin </th>
			<th> Bud </th>
		</tr>
	</thead>
	<tbody>
		{{#each data}}
		<tr>
			<td> {{this.t_species}} </td>
			<td> {{this.name}} </td>
			<td> {{this.seed}} </td>
			<td> {{this.skin}} </td>
			<td> {{this.bud}} </td>
		</tr>
		{{/each}}
	</tbody>
</table